/*BARRA DE PERFIL */

.busca-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding: 0 20px;
}

.busca-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.input-busca {
  width: 100%;
  padding: 12px 45px;
  background-color: var(--bg-input); /* */
  border: 2px solid var(--borda); /* */
  border-radius: 30px; /* Estilo pílula para combinar com os botões */
  color: var(--texto-primario);
  font-family: var(--font-texto);
  font-size: 1rem;
  outline: none;
  transition: all var(--transition-rapida);
}

.input-busca:focus {
  border-color: #4ade80; /* Brilho verde neon ao focar */
  box-shadow: 0px 0px 10px rgba(74, 222, 128, 0.2);
}

.busca-icone {
  position: absolute;
  left: 15px;
  font-size: 1.2rem;
  opacity: 0.6;
}

.limpar-busca {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  color: var(--texto-secundario);
  cursor: pointer;
  font-size: 1.1rem;
}

.limpar-busca:hover {
  color: var(--acao-primaria); /* Rosa/Vermelho ao passar o mouse */
}