@charset "UTF-8";

/*Typical device breakpoint
-------------------------
Pequenas telas até 600px
Celular:600px até 768px
Tablet:768px 992px
desktop:992px até 1200px
Grandes telas: acima de 1200px
----------------------------
 */
/* ===========================================================
   transição suave entre cores
   =========================================================== */
:root {
  --radius-default: 12px;
  --transition-rapida: 0.2s ease;
  --transition-normal: 0.35s ease;
  --font-titulo: "Russo One", sans-serif;
  --font-texto: "VT323", monospace;
}

/* ===========================================================
   modo claro
   =========================================================== */
:root[data-tema="claro"] {
  --cor-primaria: #87F5FB;

  /* Backgrounds */
  --bg-base: #E9FCFE;
  --bg-hover: #A2E1E8;
  --bg-input: #cfecf0;

  /* Texto */
  --texto-primario: #0F2B3A;
  --texto-secundario: #355A67;

  /* Ações e destaques */
  --acao-primaria: #FF7A59;
  --acao-secundaria: #1BC4B1;

  /* Bordas */
  --borda: #8ED4DD;

  --btn-bg: #e6e6e6;
  --btn-icon: #333;
}

/* ===========================================================
   Modo escuro
   =========================================================== */
:root[data-tema="escuro"] {
  --cor-primaria: #37123C;

  /* fundos */
  --bg-base: #1F0A24;
  --bg-hover: #4A1F57;
  --bg-input:#4d205a;
  /* Texto */
  --texto-primario: #E5DFF7;
  --texto-secundario: #C9B7E5;
  /* Ações e destaques */
  --acao-primaria: #F2A900;
  --acao-secundaria: #FF5F7E;
  /* Bordas */
  --borda: #8424a1;

  /* botao */
  --btn-bg: #333;
  --btn-icon: #fff;

}

/* ===========================================================
   Fontes
   =========================================================== */

  @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Russo+One&family=VT323&display=swap');



/* ===========================================================
   FISH MOBILE
   =========================================================== */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-base);

}

h1{
 
  font-family: var(--font-titulo);
}
