@charset "UTF-8";


header#header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    background-color: var(--cor-primaria);
    color: var(--texto-primario);
    transition: var(--transition-rapida);
}
#header .topo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 10px 15px;
  background-color: var(--cor-primaria);
  color: var(--text-primario);
}
.hamburguer{
  background: transparent;
  border: none;
  font-size: 3em;
  cursor: pointer;
  color: var(--texto-primario);
}

/* Logo */
h1.logo{
    font-size: 3em;
    font-weight: 700;
}

#header h1.logo{
    font-size: 3em;
    font-weight: 700;
    font-family: var(--font-titulo);
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    padding: 5px 10px;
    border-radius: 8px;
}

/*MENU LATERAL*/

.menu-mobile{
  position: fixed;
  top: 0;
  left: -260px; /* começa escondido */
  width: 260px;
  height: 100vh;
  background-color: var(--cor-primaria);
  padding: 30px;
  box-shadow: 2px 0px 10px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  gap: 60px;
  transition: var(--transition-rapida);
}
.menu-mobile.aberto {
  left: 0; /* aparece */
}

.menu-mobile ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-mobile a {
  text-decoration: none;
  color: var(--text-secundario);
  font-family: var(--font-texto);
  font-size: 2.3em;
}

/* botão de fechar */
.menu-mobile .fechar {
  background-color: none;
  border: none;
  font-size: 1.8em;
  align-self: flex-end;
  cursor: pointer;
}

/* overlay por trás */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}
/*botao sol e lua */

.btn-tema {
  width: 40px;
  height: 40px;
  border: 2px 2px 2px solid var(--borda);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
  border-radius: 50%;
  cursor: pointer;
  background: var(--btn-bg);
  color: var(--btn-icon);
  font-size: 1.6rem;
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.theme-toggle:hover {
  transform: scale(1.1);
}


